.actionEditor{
    height: 70vh;
    margin-top: 3vw;
    margin: 89px;
    padding-left: 34px;
    padding-top: 21;
    position: relative;
}
.storyIcon{
    display: block;
    font-size: 121px;
    width: fit-content;
    align-content: center;
    color: var(--primary);
}

.storyIcon:hover{
    background-color: var(--primary);
    color: var(--light);
    border-radius: 5px;
}

.title{
  font-size: 34px;
  background: none;
    text-align: left;
  width: 100%;
  text-decoration: none;
  display: inline-block;
  color: var(--gray-dark);

}
.h1{
  font-size: 34px;
}


#titleTools{
    display: none;
}



.actionblock{
  font-size: 16px;

 }
.actionBlockCollection{
    padding: 21px;
    height: 90%;
}
.code{
    position: relative;
}

.code .actionblock {
  counter-increment: listing;
}

.code .actionblock::before {
  content: counter(listing) ". ";
  display: inline-block;
  width: 2em;         /* now works */
  text-align: right;  /* now works */
  margin-right: 13px;
}

.content { 
  font: size 16px;
}

span.quoted {
    font-family: Georgia;
    font-size: 16px;
    display: block;
    margin: 14px 0 0 0;
    font-style: italic;
}
span.quoted:before {
    content: "“";
    font-size: 40px;
    color: #999;
    line-height: 0;
    display: inline-block;
    margin: 0 6px 0 0;
}
span.quoted:after {
    content: " ”";
    font-size: 40px;
    color: #999;
    line-height: 0;
    display: inline-block;
    margin: 0 0 0 4px;
}