
.row{
     display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

*:focus{
    box-shadow: 0 0 10px #d6d6d6;
    border-radius: 5px;
 outline:none;
}
#cursor-placeholder {
    visibility: hidden;
    display: inline-block;
    width:0;    
}
#blinking-cursor {
  font-weight: 1200;
  z-index: 1;
  position: absolute;  
  color: #cdcdcd;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #cdcdcd;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #cdcdcd;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #cdcdcd;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #cdcdcd;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #cdcdcd;
  }
}
#output{
background-color: rgb(240, 240, 240);
}
#output::before{
  content: attr(id);
  position: relative;
  top: -1em;
  margin-bottom: -1em;
  visibility: hidden;
}
#output:hover::before{
  visibility: visible;
}