a,button{
  border: none;
  background: none;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: var(--primary);
  padding: 21px;
  margin: 5px;
   font-size: 17px;
}
a:hover,button:hover{
    background-color: white;

}