
#ehhVisitorSiteNavBar{
    align-self: flex-start;
}

.align-right{
 display: flex;
   align-self: flex-end;
}

[ role = "ehhVisitorMenu"],[ role = "ehhPrelaunchheader"]{
    visibility: hidden;
    display: none;
}