
#ehhVisitorSiteNavBar{
    align-self: flex-start;
}

.align-right{
 display: flex;
   align-self: flex-end;
}

/*
[ role = "ehhVisitorMenu"],[role ="ehhUserMenu"],[ role="sidebar"],[class="actionEditor"]{
    visibility: hidden;
    display: none;
}
*/