  /*the container must be positioned relative:*/
        .custom-select {
            position: relative;
           font-family: 'Poppins';
           border-style: none;
           background: none;
           font-size: 13pt;
           padding: 13px;
           margin-right: 50 px  ;
           border-radius: 5px;
        }
/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
       