

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f5f9;
    box-shadow: 0 3px 5px rgba(71, 71, 71, 0.121) ;
  z-index: 25;
 flex-direction: column;

}





.dropdown:hover .dropdown-content {display: flex;}

