

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f5f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 25;
}





.dropdown:hover .dropdown-content {display: flex;}

