/*
This file contains all the global CSS.
*/


/*
*:before, *:after {
  box-sizing: border-box;
}
*/




/*
Theme Colors
*/
:root{
    --blue: #3f80ea;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #d9534f;
    --orange: #fd7e14;
    --yellow: #e5a54b;
    --green: #4bbf73;
    --teal: #20c997;
    --cyan: #1f9bcf;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #020202;
    --primary: #3f80ea;
    --secondary: #495057;
    --success: #4bbf73;
    --info: #1f9bcf;
    --warning: #e5a54b;
    --danger: #d9534f;
    --light: #eff2f6;
    --dark: #293042;
}

*{
    padding: 0;
/*
	user-select: none;
	-webkit-user-select: none;
*/
}
*:focus{
  border:none;
  outline:none;
  
}

.material-icons{
   font-size: 18px;
}
.rotate180{
   transform: rotate(180deg);
}


/*


*:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);  
}



*/