/*
This file contains all the global CSS.
*/


/*
*:before, *:after {
  box-sizing: border-box;
}
*/




/*
Theme Colors
*/
:root{
    --blue: #3f80ea;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #d9534f;
    --orange: #fd7e14;
    --yellow: #e5a54b;
    --green: #4bbf73;
    --teal: #20c997;
    --cyan: #1f9bcf;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #0e0e0e;
    --primary: #3f80ea;
    --secondary: #495057;
    --success: #4bbf73;
    --info: #1f9bcf;
    --warning: #e5a54b;
    --danger: #d9534f;
    --light: #eff2f6;
    --dark: #293042;
      font-family: 'poppins';
font-size: 8pt;
}

*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    color:var(--gray-dark)
/*
	user-select: none;
	-webkit-user-select: none;
*/
}

*:focus{
    box-shadow: 0 0 10px #d6d6d6;
 outline:red;
}

/*
*:focus::before{
content: attr(class);
position: absolute;
 
  */
 
}
.material-icons{
   padding: 8px;
}
.rotate180{
   transform: rotate(180deg);
}

.brand{ 
  align-self: center;
  padding-left: 21px;
  padding-right: 21px;
  font-size: 34pt;
  font-family: Bai Jamjuree;
  color: var(--gray-dark);
}

::selection { background: rgba(95,191,249,.4); }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.bold{
  font-weight: bold;
}


.item{
  align-self: center;
  align-content: center;
 

  width: 100%;
  background-color: yellowgreen;
}

.item :hover{
  background-color:white;
}

  .arrow {
            border: solid var(--gray-dark);
            border-width: 0 3px 3px 0;
           display: inline-block;
           float: left;
            padding: 3px;
            margin: 8px;
        }
  .right {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }

        .left {
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
        }

        .up {
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
        }

        .down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }

.section{
  margin: auto;
  align-self: center;
}
p{
  margin-top: 21px;
  align-items: center;
  font: normal;
  font-size: 13px;
}


/*


*:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);  
}



*/