body {
 
  background-color: #f1f5f9;
  color: var(--gray-dark);
  margin-left: 13vw;
  margin-right: 13vw;
}


.container{
  display: flex;
  position: relative;

}

.row{
 
  display: flex;
  flex-direction: row;
  align-items: center;
 
}
/* Create two equal columns that floats next to each other */
.column {
    align-items: center;
    flex-direction: column;
}



