body {
  display: grid;
  height: 100vh;
  grid-template: auto 1fr auto/auto 1fr auto;
  font-family: 'poppins';
  background-color: #f1f5f9;
   color: black;
}


.header {
    padding-top: 0.875rem;
    padding-right: 1.25rem;
    padding-bottom: 0.875rem;
    padding-left: 1.25rem;
    grid-column: 1/4;
    align-content: center;
}

.left-sidebar {
  background: lightblue;
  grid-column: 1/2;
}

main {
    padding: 5rem;
  background: coral;
  grid-column: 2/3;
}

.right-sidebar {
  background: yellow;
  grid-column: 3/4;
}


footer {
     padding: 2rem;
  text-align: right;
  grid-column: 1 / 4;
  font-family: 'Montserrat';
  font-size: 1.2vh;
}


.left-sidebar,
.right-sidebar {
  padding: 2rem;
}