[state="mouseover"]{
  background-color: blueviolet;
}

[state="mouseover"]::before{
    font-size: 1.5vh;
    content: attr(id);
    color: #1e2326;
    position: absolute;
    top:10Px;
    left:10Px;
    z-index: 1;
  ;
  }
  
  [state="click"]::before{
    font-size: 1.5vh;
    content: attr(ehhId);
    display:block;
    color: #1e2326;
    z-index: 1;
    position: fixed;
    top:10Px;
    left:10Px;
    background: white;
  }