
.topbar-button {
    font-family: 'ubuntu', sans-serif;
    color: var(--text);
    font-size: 15px;
    border: 0;
    padding: 20px 24px 30px 21px;
    cursor: pointer;
    background: var(--background);
    float: right;
    height: 40px;
    margin-top: 5px;
}

.topbar-button:hover {
    outline: none;
    color: #fcaf12;
}

.topbar-button.active {
    color: #fcb312;
}
