#autoSuggest{
  background-color: var(--light);
  width: 434px;
  height: 121px;
  padding: 1em;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  position: absolute;
  z-index: 9999;
 display: none;
}

[contenteditable = 'true']:focus {
   box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07);

    cursor: text;
}



.dropdown-content {
  display: none;
  position: absolute;
  
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 3px 5px rgba(71, 71, 71, 0.121) ;
  z-index: 25;
   flex-direction: column;
 
}

.dropdown:hover .dropdown-content {display: block;}



/**
[state="mouseover"]::before{
  font-family: 'Material Icons';
  content: "add";
  
  color: #1e2326;
  position: absolute;
  z-index: 1;
  display: inline-block;

}
[state="mouseover"]::before{
   font-family: 'Material Icons';
    content: "add";
    color: #1e2326;
    position: absolute;
    z-index: 1;
    display: inline-block;
    
  }
  