
/**
[state="mouseover"]::before{
  font-family: 'Material Icons';
  content: "add";
  
  color: #1e2326;
  position: absolute;
  z-index: 1;
  display: inline-block;

}
[state="mouseover"]::before{
   font-family: 'Material Icons';
    content: "add";
    color: #1e2326;
    position: absolute;
    z-index: 1;
    display: inline-block;
    
  }
  