* {
 outline: none;
 box-sizing: border-box;
  border:none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-box-sizing: border-box;
}
select{
      
    font-family: 'Poppins' , sans-serif;
   font-size: 1.8vh;
    font-weight: 400;
    font-style: normal;
}
:root{
    --blue: #3f80ea;
    --indigo: #6610f2;
    --darkblue:#000031;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #d9534f;
    --orange: #fd7e14;
    --yellow: #e5a54b;
    --green: #4bbf73;
    --teal: #20c997;
    --cyan: #1f9bcf;
    --white: #fff;
    --gray: #2c2c2c;
    --gray-dark: #0e0e0e;
    --primary: #3f81ea94;
    --secondary: #495057;
    --success: #4bbf73;
    --info: #1f9bcf;
    --warning: #e5a54b;
    --danger: #d9534f;
    --light: #f1f5f9;
    --dark: #293042;
    --m1: 8px;
    --rc: 8px;

}
#logo{
   height: 34px;
}
body{
    width: 100%vw;
    height:100%vh;
    background-color: #FFFFFF;
    color: var(--gray-dark);
    font-family: 'Poppins' , sans-serif;
    list-style-type: none;
    font: 'poppins';
    font-size: 1.8vh;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    
}
a,button{
    color: var(--gray-dark);
    cursor: pointer;
    text-decoration: none;
    padding-left:  .8em;
    padding-right:  .8em;
    background-color: transparent;
    border: none; 
}
a{
    margin-left: .5em;
    margin-right: .5em;
}
#actionSpaceContainer{
    height: 100%;
   
}
#navigationSection {
    flex-basis: 100%;
    height: 100%;
    padding:1em;
    resize: horizontal;
    overflow: hidden;
    width:max-content;
    align-items: center;

}

.contextMenu{
  
    padding-top: 21px;
    padding-bottom: 13px;
    width:max-content;
    height: max-content;
    background-color: wheat;
   z-index: 999;
    
}
.card{
    margin: 8px;
    padding:5px;
    width: 21%;
    height: 221px;
   background-color: yellow;
   z-index: -5;
   
}
span{
    height: 1em;
}
.subHead{
 font-weight: 600;
  margin-top: 4px;
}
#workSpaceBody{
    height: 100%;
    padding-top: 21px;
    padding-right: 21px;
   padding-left: 21px;
}
#recentStoriesCollectionView{
    margin-top: 21px;
   
}
.hr {
  margin-top: 13px;
  margin-bottom: 13px;
  width: 90%;
  background-color: #00000048;
  height: 1px;
}
.align_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.justify_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.justify_SpaceBetween{
   -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
   justify-content: space-between;
}
.container{
  display: -webkit-box;
  display: -ms-flexbox;
  
  display: flex;
}
html {
    height: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 }
#sideBar {
    flex-basis: 100%;
    padding:1em;
    resize: horizontal;
    overflow: hidden;
    min-width: 221px;
    width: 13% !important;
    max-width: 18%;  
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
   
}
.full-width{
  width: 100%;
}
.full-height{
    min-height: 100% !important;
}
#actionSearch{
    padding-left: 21px;
    width: 34vw;
    height: 34px;
    align-self: center;
    background-color: var(--gray);
    color: var(--light);
    font-family: 'poppins';

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
.icon{
    padding: 0.2em;
}

.item:hover{
    background-color:var(--blue);
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  left: 1px;
  background-color: #f1f1f1;
  min-width:221px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
.parent:hover .nested{display: block;}

.parent {
  
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}
.nested{
 
    padding-left: 1em;
}
.parent::before {
        content: "\25B6";
        color:var(--gray-dark);
        display: inline-block;
        margin-right: 6px;
        }

.parent-down::before {
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari */
    transform: rotate(90deg);
}
.nested {
    display: none;
}
.active {
            display: block;
       }



