:root{
    --blue: #3f80ea;
    --indigo: #6610f2;
    --darkblue:#000031;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #d9534f;
    --orange: #fd7e14;
    --yellow: #e5a54b;
    --green: #4bbf73;
    --teal: #20c997;
    --cyan: #1f9bcf;
    --white: #fff;
    --gray: #2c2c2c;
    --gray-dark: #0e0e0e;
    --primary: #3f81ea94;
    --secondary: #495057;
    --success: #4bbf73;
    --info: #1f9bcf;
    --warning: #e5a54b;
    --danger: #d9534f;
    --light: #f1f5f9;
    --dark: #293042;
    --m1: 8px;
    --rc: 8px;

}
* {
  margin: 0;
  padding: 0;
  border:none;
  outline:none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;
  list-style-type: none;
  color:var(--gray-dark);
}
body{
    width: 100%vw;
    height:100%vh;
    background-color: khaki;
    color: var(--gray-dark);
    font-size: 1.8vh;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    
}

#actionSpaceContainer{
    width: 100%;
   display: inherit;
   height: 100%;
     background-color: turquoise;
    margin:auto auto;
    padding-left: 21px;
    padding-right: 21px;
}
.fullParent{
     height: inherit;
     min-height;: 100%
     background-color: lavender;
}
.full-width{
  width: 100%;
}
.itemContainer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.row{
  display: flex;
  flex-direction: row;
 
 }
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

h1,h2,h3,h4,h5,h6 {margin: 0.6em 0; font-weight: normal}

h1 {font-size: 2.625em; line-height: 1.2}

h2 {font-size: 1.625em; line-height: 1.2}

h3 {font-size: 1.3125em; line-height: 1.24}

h4 {font-size: 1.1875em; line-height: 1.23}

h5,h6 {font-size: 1em; font-weight:bold}

.align_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.justify_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.justify_SpaceBetween{
   -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
   justify-content: space-between;
}
*:focus{

   box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07);

    cursor: text;

}



/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
.item{
    padding-top: .5em;
    padding-bottom: .5em;
    margin: 5px;
    padding-left: 1em;
    padding-right: 1em;
    height: 34px;
    

        
}
.item:hover{
    background-color:var(--blue);
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  left: 1px;
  background-color: #f1f1f1;
  min-width:221px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}



.material-icons{
    display: inline-flex;
    vertical-align: top;
}
.brand{  
    cursor: pointer;
}
.brandTitle{
   align-self: center;
}
#logo{
   height: 34px;
}
.dark{
    background-color: var(--gray);
}
#actionSearch{
    padding-left: 21px;
    width: 34vw;
   
     align-self: center;
}
a {
   padding-left:  1em;
    padding-right:  1em;
    
    }

a:hover,button:hover {background:var(--primary);}

button  {
    background-color: transparent;
  text-decoration: none;
 
  cursor: pointer;
 
  align-items: center;
  justify-content: center;
 
 
 

}


input, select, textarea {font-size: 1em; color:var(--dark); background:var(--light); border-radius: 5px; padding: 0.6em}

button, input[type=submit], input[type=reset], input[type="button"] { 
    -webkit-appearance: none;
     font-size: 1em;
     display: inline-block; 
     border: 0;
     margin: 4px;
     padding: 1em;
     cursor: pointer;
     text-align: center
    }

    #userDashboardWorkSpaceBody{
        background-color: turquoise;
    }



