#actionSpaceLayoutContainer{
flex-grow: 1;
}

input {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 15px;
    line-height: 26px;
    padding: 4px 10px;
    position: relative;
    border-radius: 3px;
    box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px inset;
    cursor: text;
    margin-top: 4px;
    margin-bottom: 8px;
}
#workspaceHeader{
  width: 100%;
  height: 54px;
  padding: 5px 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  align-content: center;
}
#header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 54px;
  padding: 5px 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-content: center;
 
}
 #regForm {
      margin: 200px auto;
      padding:54px;
   
      border-radius:  13px;
    }

#brand{
    height: 34px;
    align-self: center;
    cursor: pointer;
}
.brandTitle{
   align-self: center;
}
#logo{
   height: 34px;
}
#output::before{
  content: attr(id);
  position: relative;
  top: -1em;
  margin-bottom: -1em;
  visibility: hidden;
}
#output:hover::before{
  visibility: visible;
}
#actionSearch{
    padding-left: 21px;
    width: 25vw;
    height: 30px;
     align-self: center;
}
.menu{
align-items: center;
}
#actionSpaceBody{
  flex-grow: 1;
    
}
#navigationSection {
    flex-basis: 100%;
    padding:1em;
    resize: horizontal;
    overflow: hidden;
    min-width: 221px;
    width: 13% !important;
    max-width: 13%;  
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    -webkit-transition: width 200ms;
    transition: width 200ms;
}

#navigationSection.hide {
  min-width: 0;
  width: 0 !important;
}

#side_bar_header{
  padding: 20px 5px 10px;  
}
.collection_list {
  font-weight: 400;
  margin-top: 3px;
  overflow-x: hidden;
}
.collection_list_with_drop_down {
  height: 100%;
}

.collection {
  margin-bottom: 5px;
 
}
.headerContent{
  display: flex;
   position: relative;
 align-self: center;
  height: 60vh;
  width: 100vw;
}

.full-width{
  width: 100%;
}
.item {
   -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
  display: -webkit-box;
  display: -ms-flexbox;
  flex-basis: 100%;
  display: flex;
  padding: 3px 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
   align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 2px;
}
.item:hover {
  background-color: var(--primary);
}
.parent {
  
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}
.nested{
 
    padding-left: 1em;
}
.parent::before {
        content: "\25B6";
        color:var(--gray-dark);
        display: inline-block;
        margin-right: 6px;
        }

.parent-down::before {
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari */
    transform: rotate(90deg);
}
.nested {
    display: none;
}
.active {
            display: block;
       }

 