body {
  display: grid;
  height: 100vh;
  grid-template: auto 1fr auto/auto 1fr auto;
  font-family: 'poppins';
}

/*
*:before, *:after {
  box-sizing: border-box;
}
*/

header {
  background: lightpink;
  padding: 2rem;
  grid-column: 1/4;
}

brand{
    font-family: 'Poppins';
    font-size: 1.5vh;
}
.left-sidebar {
  background: lightblue;
  grid-column: 1/2;
}

main {
    padding: 5rem;
  background: coral;
  grid-column: 2/3;
}

.right-sidebar {
  background: yellow;
  grid-column: 3/4;
}


footer {
     padding: 2rem;
  text-align: right;
  grid-column: 1 / 4;
  font-family: 'Montserrat';
  font-size: 1.2vh;
}


.left-sidebar,
.right-sidebar {
  padding: 2rem;
}