 *{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border:none;
  outline:none;
   word-wrap: break-word;
   overflow-wrap: break-word;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
 
 }


 :root {
  background: linear-gradient(135deg, #f0f0f0 , #f3eee6 );
  font-size: 1.5vh;
  font-family: 'poppins';
}

body {
	margin: 0;
	pading: 0;
	background: #32353D;
	font-family: 'Varela Round', 'Ionicons', sans-serif;
	user-select: none;
	-webkit-user-select: none;
}


.windowbar {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 30px;
	width: 100%;
	background: #32353D;
	color: rgba(255,255,255,.6);
	line-height: 28px;
	z-index: 100;
}
.windowbar span {
	padding: 2px 10px;
	margin: 0;
	font-size: 13px;
	border-radius: 3px;
	cursor: pointer;
	transition: all .1s ease-in-out;
}
.windowbar span:hover {
	color: rgba(255,255,255,.8);
}
.windowbar span:active {
	background: rgba(0,0,0,.2);
}
.windowbar .controls {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 30px;
	width: 90px;
}
.windowbar .controls span, .windowbar .controls a {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	padding: 0;
	margin: 0;
	border-radius: 0;
}
.windowbar .controls span i, .windowbar .controls a i {
	color: #fff;
}
.windowbar .controls span:hover {
	background: rgba(0,0,0,.2);
}
.windowbar .controls .min {right: 60px;}
.windowbar .controls .max {right: 30px;}
.windowbar .controls .close {right: 0px;background:#E87460;}
.windowbar .controls .close:active {opacity: .9;}

.windowbar .controls .min:before, .windowbar .controls .max:before {
	font-size: 18px;
}
.windowbar .controls .min:before {
	content: "\f3d0";
}
.windowbar .controls .max:before {
	content: "\f3d8";
}
.windowbar .controls .close:before {
	content: "\f406";
	font-size: 26px;
}

