 *{
  box-sizing: border-box;
    font-family: poppins;
  margin: 0px;
  padding: 0px;
  border:none;
  outline:none;
   word-wrap: break-word;
   overflow-wrap: break-word;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
 
 }
  .ex4 .parent {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }