*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border:none;
  outline:none;
   word-wrap: break-word;
   overflow-wrap: break-word;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  transition: 50ms;
 }

 :root {
  background: linear-gradient(135deg, #f0f0f0 , #f3eee6 );
  font-size: 1.5vh;
  font-family: 'poppins';
}


[currentstate="mousemove"]{
  
}

[currentstate="mousemove"]::before{
  
  font-size: 1.5vh;
  content: attr(ehhId);
  color: #1e2326;
  position: fixed;
  top:10Px;
  left:10Px;
  display:none;
  background: white;
  z-index: 1;
;
}

[currentstate="click"]::before{
  font-size: 1.5vh;
  content: attr(ehhId);
  display:block;
  color: #1e2326;
  z-index: 1;
  position: fixed;
  top:10Px;
  left:10Px;
  background: white;
}

*:focus{
  border:none;
  outline:none;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus{
  border:none;
  outline:none;
}

body{
  position: absolute; 
  top=0;
  left: 0;
  height: 100vh;
}

ehh{
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  padding-left: 5%;
  grid-template-rows:  1fr auto;
  z-index: 250;
  height: 100vh;
 width: 100vw;
}

content{ 
  padding-top: 5%;
  padding-left: 5%;
 position: relative;
 display: grid;
 grid-column: 1 / 4;

}

section{ 
 display: grid;
}

container{
  align-self: center;
  position: relative;
}

footer {  
  padding: 2rem;
  text-align: right;
  grid-column: 1 / 4;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2vh;
}

.bar{
  margin-top: 5px;
  width: 550px;
  display: block;
 

}

.material-icons {
  vertical-align:-14%;
    pointer-events: none;
    font-family: 'Material Icons';
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.list{
  width: 200px; 
  z-index:10;
  position: fixed;
  display: block;
  background: white;
  transform:scale(1);
  transform-origin:top left;
}
.list .item {
 width: 100%;
 text-align: left;
}

.list .item:hover {
  background:#eeeeee ;
}
.list .item i {
  margin-right:8px;
  text-align: right;
}

button{
  text-align: center;
  width: 121px;
  float: left;
  background: white;
  padding: 13px;
  border-radius: 5px;
  font-family: 'Bai Jamjuree', sans-serif;
  font: size 1.3vh;;
  color:black;  
}


h1{
  font-family: 'Bai Jamjuree', sans-serif;
  color: #1e2326;
  font-size: 5vh;
  margin-bottom: 34px;
  font-weight: 200;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.02), 2px 2px rgba(0, 0, 0, 0.02), 3px 3px rgba(0, 0, 0, 0.02), 4px 4px rgba(0, 0, 0, 0.02), 0.125rem 0.125rem rgba(0, 0, 0, 0.02), 6px 6px rgba(0, 0, 0, 0.02), 7px 7px rgba(0, 0, 0, 0.02), 8px 8px rgba(0, 0, 0, 0.02), 9px 9px rgba(0, 0, 0, 0.02), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.02), 11px 11px rgba(0, 0, 0, 0.02), 12px 12px rgba(0, 0, 0, 0.02), 13px 13px rgba(0, 0, 0, 0.02), 14px 14px rgba(0, 0, 0, 0.02), 0.625rem 0.625rem rgba(0, 0, 0, 0.02), 16px 16px rgba(0, 0, 0, 0.02), 17px 17px rgba(0, 0, 0, 0.02), 18px 18px rgba(0, 0, 0, 0.02);
}

p{
  text-align: left;
  margin-top: 13px;
  margin-bottom: 13px;
  color: #1e2326;
  display: block;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.toggle {
  font-family: 'Material Icons';
  content: "link";
   position: absolute;
  left: -34px;
  cursor: pointer;
  z-index: 5;
  display: block;
  
}

.active, .toggle:hover {
  transform: rotate(-90deg);
}

.collapsible{
  overflow: hidden;
}
