*{

  margin: 0px;
  padding: 0px;
  border:none;
  outline:none;
 
}
* {
  background: rgb(247, 247, 247);
   font-family: poppins;
   border:none;
  outline:none;
}
/*
*:focus{
  border:none;
  outline:none;
}

*/




brand{
  margin-left: 21px;
  margin-right: 21px;
  display: contents;
  align-self: center;
 
  width: 25vw;
  height: 100px;
  font-family: 'Poppins';
  font-size: 1.8vh;
    
}



actionLinkBar{
  float: right;
  padding-right: 5vw;
  
}
a {
  padding-left: 3vw;
  padding-right: 3vw;
  color: darkslategray;
    transition: all .08s ease;
	-webkit-transition: all .08s ease;
  
}
a:hover {
    height: 13vh;
	color: rgba(0, 0, 0, 0.7);
	background: rgba(0,0,0,.08);
    text-decoration:underline;
    transition: all .08s ease;
	-webkit-transition: all .08s ease;
}

.left-sidebar {
 
  grid-column: 1/2;
}

.menu {
	top: 30px;
	left: 0px;
	width: 300px;
	height: calc( 100% - 32px );
	height: -webkit-calc( 100% - 32px );
	padding-top: 2px;
	box-shadow: inset 0 2px 0 rgba(255,255,255,.05), inset 0 1px 0 rgba(0,0,0,.4);
}



.menu a.css::before {content:"\f231";color:#30A9DC;}
.menu a.html::before {content:"\f23d";color:#F1672C;}
.menu a.js::before {content:"\f242";color:#F1BF26;}

actionSpace {
    padding: 5rem;
  background: rgb(241, 241, 241);
  grid-column: 2/3;
}

contentInput{
    position: relative;
    display: inline-block;
    width: 50%;
    height: 60vh;
    overflow-wrap: break-word;
     background: rgb(224, 224, 224);
}

contentOutput{
    align-self: flex-start;
    padding: 3vh;
   background: #fafafa;
}

.code {
	color: #080808;
	text-shadow: 2px 2px 0 rgba(0,0,0,.01);
    box-shadow: inset 37px 0 0 rgba(0,0,0,.06);
	overflow: auto;
}
.right-sidebar {
  grid-column: 3/4;
}


footer {
     padding: 2rem;
  text-align: right;
  grid-column: 1 / 4;
  font-family: 'Montserrat';
  font-size: 1.2vh;
}


.left-sidebar,
.right-sidebar {
  padding: 2rem;
  background-color: #30A9DC;
}

button{
width: 34px;     

}
