@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
   border:none;
  outline:none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;
}
*{ 
  list-style-type: none;
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    color:var(--gray-dark);
     
/*
	user-select: none;
	-webkit-user-select: none;
*/
}
*:focus{
    border-radius: 5px;
    outline:none;
}
[class='material-icons']{
   font-size: 21px;
}

body {
     list-style: none;
      height: 100%;
     font-family: 'Poppins';
     
     color: black;
}
a {
  text-decoration: none;
   padding: 1px 10px;
   cursor: pointer;
}

button {
 padding: 13px;
  cursor: pointer;
  -webkit-transition: background-color 100ms;
  transition: background-color 100ms;
}

button:hover {
   color: #333;

}
.icon {
  width: 20px;
  margin: 5px;
  cursor: pointer;
}
.icon:hover {
  color: #333;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex.align_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex.justify_center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mode_toggle_btn {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.mr-4 {
  margin-right: 4px;
}

.mr-6 {
  margin-right: 6px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.miniHeading {
  color: #bdbdbd;
  font-weight: 600;
  margin-top: 4px;
  text-transform: uppercase;
}

.hr {
  width: 90%;
  background-color: #00000048;
  height: 1px;
}

.showAbleContent {
  display: none;
}
.row{
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 
  width: 100%;
}
.column {
  
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
