:root{
    --blue: #3f80ea;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #d9534f;
    --orange: #fd7e14;
    --yellow: #e5a54b;
    --green: #4bbf73;
    --teal: #20c997;
    --cyan: #1f9bcf;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #0e0e0e;
    --primary: #3f80ea;
    --secondary: #495057;
    --success: #4bbf73;
    --info: #1f9bcf;
    --warning: #e5a54b;
    --danger: #d9534f;
    --light: #f1f5f9;
    --dark: #293042;
    font-family: 'poppins';
    font-size: 13pt;
}
body{
    background-color: var(--blue);
    height: 100%;
}