#workSpaceBody{
    height: 100%;
    width: 100%;
 
}

#userView{
 width: inherit;
  
}
#editor{
   width: 50%;
   padding-left:5em;
   padding-top: 1em;
   padding-right: 3em;
 
 
}
#content{
     display: flex;
    align-items: center;
    width: 100%;
    font-size: 15px;
    line-height: 26px;
    padding: 4px 10px;
    position: relative;
    border-radius: 3px;
    box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px ;
    cursor: text;
    margin-top: 4px;
    margin-bottom: 8px;
    background-color:white;
}

#output{
    display: none;
 
    width: 50%;
}