
#header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 54px;
  padding: 5px 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  
}

#header .icon {
  margin-right: 20px;
  cursor: pointer;
}

#header .icon i {
  font-size: 20px;
  color: silver;
}

#header .icon i:hover {
  color: #333;
}

#header .title_edit {
  margin: 0 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .title_edit .title {
  color: #555555;
}

#header .title_edit .editBtn a {
  padding: 2px 13px;
  border-radius: 20px;
  background-color: #254f75;
  font-size: 14px;
  color: white;
}