#actionSearch{
    margin: 21px;
    padding-left: 21px;
    
    font-family: 'Poppins';
    height: 34px;
    width: 34vw;
    border-style: none;
    font-size: 13pt;   
    
}
.searchBar {
  background-color: rgba(192, 192, 192, 0.521);
  padding: 7px;
  border-radius: 4px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #797979;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
}

.searchBar i {
  font-weight: 400;
  margin-right: 12px;
}

.searchBar input {
  background-color: transparent;
  outline: none;
  border: 0;
  height: 100%;
  width: 100%;
}