
#navigationSection {
  resize: horizontal;
  position: relative;
  overflow: hidden;
  min-width: 300px;
  width: 300px !important;
  max-width: 400px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
    flex-direction: column;
 
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  -webkit-transition: width 200ms;
  transition: width 200ms;
}

#navigationSection.hide {
  min-width: 0;
  width: 0 !important;
}

 #navigationSection #SidebarFooter {
  background-color: transparent;
  width: 100%;
  padding: 20px 10px;
}

.side_bar_header {
 
  padding: 20px 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
   justify-content: space-between;
  
}

.brand_logo {
  color: rgb(0, 0, 0);
  font-size: 18px;
}

.collection_list {
  
  font-weight: 400;
  margin-top: 3px;
  overflow-x: hidden;
}

.collection_list_with_drop_down {
  height: 100%;
}

.collection_list {
  
  font-weight: 400;
  margin-top: 3px;
  overflow-x: hidden;
}

.collection_list::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

.collection_list::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
  width: 8px;
  border-radius: 4px;
}

.item {
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
   align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 2px;
}

.item .item_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
 align-items: center;
  white-space: nowrap;
}

.item .item_more_opt {
  display: none;
}

 .item:hover {
  background-color: #00000038;
}

.item:hover .item_text {
  display: none;
}

.item:hover .item_more_opt {
  display: inherit;
}

.item .item_text p {
  float: right;
  font-size: 13px;
  font-weight: 200;
}

.collection {
  margin-bottom: 5px;
}

.collection .icon {
  width: 20px;
}

.collection .icon img,
.collection .icon embed {
  width: 100%;
}

.icon i {
  font-size: 16px;
}

.collection_name {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.collection {
  margin-bottom: 5px;
}
.collection_list_with_drop_down {
  height: 100%;
}
@media (max-width:1220px){
  #navigationSection {
    min-width: 0 !important;
    width: 0 !important;
  }
    
  #navigationSection.active {
    min-width: 300px !important;
    width: 300px !important;
  }
}

