/*

*/

*:focus{
  border:none;
  outline:none;
 
}

body {
 height: 100vh;
 font-family: 'Poppins';
 color: white;
background: linear-gradient(to right, #f0eed8, #2c73b1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

brand{
  color: black;
  font-weight: bold;
  margin-left: 21px;
  margin-right: 21px;
  display: contents;
  align-self: center;
  width: 25vw;
  height: 100px;
  font-family: 'Poppins';
  font-size: 2vh; 
}

.searchBar{
  margin-left:  9.5vw;
  padding:3px;
  padding-left: 1vw;
  font-family: 'Poppins';
  font-size: 2vh;
  width: 34vw;
       background-color: rgba(248, 248, 248, 0.438);
       border:none;

  
}
section {
    display: block;
}
::selection {
    background: #5183f5;
    color: #fff;
}
actionLinkBar{
  float: right;
  padding-right: 13vw;
  
}


leftSidebar {    

  grid-area: leftSidebar;
  height: 100%;
  display: block;

}
leftSidebar a {
 color: rgba(0, 0, 0, 0.555); /* Black text color */
  display: block; /* Make the links appear below each other */
 /* Add some padding */
  margin: 2px;
}

a {

  padding-left: 2vw; 
  padding-right: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
    

}


button{
  color: rgba(0, 0, 0, 0.705); /* Black text color */
  background-color: rgb(231, 231, 231);
  border:none;
  border-radius: 5px;
  margin: 1px;
  padding-left: 1vw;
  padding-right: 1vw;
   padding-top: .5vh;
  padding-bottom: .5vh;
}




a:hover {
  background-color: rgba(231, 231, 231, 0.61);
  color: black; /* Black text color */
  cursor: pointer;
  border-radius: .5em;

 font-weight: bold;


}

.rightSidebar {
  grid-area: rightSidebar;
  display:inline-block;

}
actionSpaceEditor{
  
     outline: none;
     border: none;
     width:70vw;
     height: 70vh;
  

}


actionstory {
  margin-top: 1vh;
  padding: 3vw;
  grid-area: content;
  display: block;
  
  position: relative;
    
}
*[id]:hover{
  color: black;
     background-color: rgba(248, 248, 248, 0.438);
     border-radius: 3px;
box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.075);  

}

[contenteditable]::before{
    display: none;
    content:attr(name);
    font-size: 34pt;
    position: relative;
     font-family: 'Poppins';

  
}


.header {
  grid-area: header;
}

.footer {
         padding: 2rem;
  text-align: right;
  grid-column: 1 / 4;
  font-family: 'Montserrat';
  font-size: 1.2vh;
  grid-area: footer;
  
  color: rgba(0, 0, 0, 0.863); /* Black text color */
}

.actionSpace {
   
    border: none;
    outline:none;
    height: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template: auto 1fr auto/auto 1fr auto;
    grid-template-areas:
    "header  header  header"
    "leftSidebar content rightSidebar"
    "footer  footer  footer";
  }

.box {
   
  border-radius: 3px;
  padding: 34px;
 
}

.header,
.footer {
    height: 5vh;
 
}

.topleft {
  position: absolute;
  top: 0;
  left: 0;
}

.topright {
  position: absolute;
  top: 0;
  right: 0;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 0;
}

actionContentTitle{
  margin: 1%;
font-weight: bold;
  display: block;
  font-size: 34px;
}

.bottomright {
  position: absolute;
  bottom: 0;
  right: 0;
}


