/* Selects a <div> when one of its descendants is focused */
*:focus {
 
   box-shadow: 0 2px 3px rgba(0, 0, 0, 0.10); 
  
 
}

[state: 'idle']::before{
  content: attr(currentstate);
  color: #1e2326;
  position: absolute; 
  display:block;
  background-color: yellow;
  z-index: -1;
  border-style: solid;
  border-width: thin;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus-within{
  border:none;
  outline:none;

}
/*
*:focus-within,
*:hover{
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);  
}

*/




[contenteditable="true"]::before{
  
  font-size: 1.5vh;
  content: attr("yo");
  color: #1e2326;
  position: fixed;
  top:10Px;
  left:10Px;
  display:none;
  background: white;
  z-index: 1;
;
}

a:hover::before{
     background: #f57251;
    color: #0000FF;
}

/*
*:active {

     background: #f57251;
    color: #0000FF;
}
*/

