

*:focus{
  border:none;
  outline:none;

}

body {
   height: 100%;
   font-family: 'Poppins';
   background-color: #f1f5f9;
   color: black;
}

ul {
  margin: 8px;
  padding: 8px;
  list-style: none;
 
}

li {
  background-color:rgb(179, 227, 255);
  width:fit-content;
  float: right;
   margin: 13px;
     padding: 21px;      
border-radius: 5px;
  align-content: center;
}

a {
  text-decoration: none;
  margin: 13px;
  padding: 21px;      
}

a::before{ 
   content:"[";
   padding-right: 13pt;
    visibility: hidden;
}

a::after{ 
   content:"]";
   padding-left: 13pt;
    visibility: hidden;
}

a:hover::before{ 
 visibility: visible;
}
a:hover::after{ 
 visibility: visible;
}
/*
a:hover::before{ 
   content:"[";
  
 
}
a:hover::after{
   content:"]";
    

}
*/
a:hover {
  background-color: rgb(255, 255, 255);
}

