

*:focus{
  border:none;
  outline:none;
}

body {
   height: 100%;
   font-family: 'Poppins';
   background-color: #f1f5f9;
   color: black;
}
[header]{
 background-color: #333;
  overflow: hidden;
}

[class='icon']{
  vertical-align: bottom;
   font-size: 18px;
}

[id='actionSpaceContainer']{
  display: block;
  height: 90vh;
}

section{
 display: block;
background-color: blue;
}

ul {
  list-style: none;
}



li {
  float: right;
  border-radius: 5px;
  
  vertical-align: middle;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 21px;
  padding-right: 21px;
}

a {
  margin: 8px;
  padding: 13px;
  display: block;
  text-decoration: none;
  align-self: center;
 
}

button{
  display: block;
  padding: 13px;
  margin: 1px;
  border-style: none;
  background: none;
  cursor: pointer;
  
}


a::before{ 
   content:"[";
   padding-right: 13pt;

    visibility: hidden;
}

a::after{ 
   content:"]";
   padding-left: 13pt;
    visibility: hidden;
}

a:hover::before{ 
 visibility: visible;
}
a:hover::after{ 
 visibility: visible;
}
/*
a:hover::before{ 
   content:"[";
  
 
}
a:hover::after{
   content:"]";
    

}
*/
a:hover,button:hover {
  background-color:rgb(179, 227, 255);
}

