

*:focus{
  border:none;
  outline:none;

}

body {
   height: 100%;
   font-family: 'Poppins';
}

ul {
  margin: 8px;
  padding: 8px;
  list-style: none;
}

a {

  text-decoration: none;
  margin: 13px;
  padding: 21px;      
}


a:hover::before{ 
   content:"[";
   padding-right: 21px;
 
}
a:hover::after{
   content:"]";
     padding-left: 21px;

}
a:hover {
  background-color: rgb(172, 172, 172);
}

