* {
  margin: 0;
  padding: 0;
  border:none;
  outline:none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;
  list-style-type: none;
  color:var(--gray-dark);
}

.container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 }
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.alignSelf-left{
align-self: flex-start;  
  
}
.alignSelf-center{
  align-self: center;
}
.align_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.justify_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.justify_SpaceBetween{
   -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
   justify-content: space-between;
}
.material-icons{
    display: inline-flex;
    vertical-align: top;
}

.mode_toggle_btn {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.mr-4 {
  margin-right: 4px;
}

.mr-6 {
  margin-right: 6px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.miniHeading {
  color: #bdbdbd;
  font-weight: 600;
  margin-top: 4px;
  text-transform: uppercase;
}

.hr {
  margin-top: 13px;
  margin-bottom: 13px;
  width: 90%;
  background-color: #00000048;
  height: 1px;
}
.verticleBar{
  margin-left: 21px;
  margin-right: 21px;
   border-left: 2px solid #495057;
}
.small{
  font-size: 12px;
}
.medium{
  font-size: 21px;
  font-weight: bold;
  
  margin-bottom: 1em;
}


