#workSpaceBody{
    height: 100%;
    width: 100%;
 
}

#userView{
 width: inherit;
  
}
#editor{
    
   width: 50%;
   padding-left:5em;
   
   padding-right: 3em;
 
 
}
#content{
    
    padding-left: 5em;
    padding-right: 5em;
    padding-top:5em;
    position: relative;
    border-radius: 3px;
   
    margin-top: 4px;
}
#activeActionStory{
    padding-left: 3em;
    
}
#output{
    display: none;
 
    width: 50%;
}